@import "src/assets/styles/global.scss";

.refill-wrapper {
  .operator-logo {
    display: block;
    height: rem(50);
    margin: rem(30) 0 rem(40);
  }
  .input-box {
    display: block;
    max-width: rem(420);
    width: 100%;
    padding: rem(10) rem(15);
    border: rem(1) solid $mainColor;
    border-radius: rem(5);
    margin: rem(10) 0 rem(20);
    font-size: rem(18);
    color: $mainColor;
    &:focus {
      outline-color: $mainColor;;
    }
  }
  .submit {
    padding: rem(10) rem(30);
    background-color: $mainColor;
    border: none;
    border-radius: rem(5);
    transition: background-color .3s ease 0s;
    font-size: rem(18);
    color: $lightColor;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: darken($mainColor, 5%);
    }
  }
}